<%- include("partials/header") %>


<h1>Hello</h1>
<p> <%= StartingContent %> </p>

<%   newPosts.forEach(element => {  %>
<%   console.log(element);  %>
    <% }); %>

<%- include("partials/footer") %>